#overallContainer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  align-items: center;
font-size: 0.9rem;
}

#overallContainer p {
  cursor: pointer;
}

#logoContainer {
  height: 2.5rem;
  width: 4.5rem;
}

#logoContainer img {
  height: 100%;
  width: 100%;
}

#menu {
  display: flex;
  width: max-content;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

#access {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#access div {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #3e4095;
  border-radius: 10px;
  color: #fff;
}

.hamburger, .responsiveMenu {
  display: none;
}

@media (max-width: 1120px) {


  .hamburger {
    display: block;
    z-index: 4;
  }

  #menu, #access {
    display: none;
  }

  .responsiveMenu {
    color: #f4f3f3;
    z-index: 3;
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #0A2540;
    transform: translateY(-100vh);
    transition: transform 1s ease-in-out;
  }

  #respMenuContainer {
    /* border: 1px solid red; */
    width: max-content;
    height: max-content;
    /* margin: auto; */
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #respLogin {
    background-color: #f4f3f3;
    color: #0A2540;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    font-size: 0.9rem;
  }

  #respSignup {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: #0A2540;
    box-shadow: -2px 2px 2px #3E4095;
    font-size: 0.9rem;
  }
}