#overallContainer {
    /* position: relative; */
    padding: 5rem;
    background-color: #F7F9FC;
}
.content {
    display: flex;
    /* padding: 20px 0; */
    /* height: 2000px; */
    /* border: 1px solid red; */
    /* position: relative; */
    gap: 2rem;
  }
  
  .main {
    /* flex: 1 0 auto; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: flex;
    flex-direction: column;
    gap: 5rem;
    height: 2000px;
    height: max-content;
    width: 50%;
    /* margin-right: 10px; */
    /* background: #ccc; */
    /* background: linear-gradient(to bottom, #eeeeee 0%,#B7EAE0 100%); */
  }

 .individualContainer {
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
 }

 .identifier {
    color: rgb(62, 64, 149);
    font-weight: bold;
 }

 .title {
    font-size: 3rem;
    color: rgb(2, 2, 39);

 }

.subtitle {
    line-height: 1.8rem;
    color: rgb(2, 2, 39);
}


.side {
    /* display: flex; */
    position: -webkit-sticky;
    position: sticky;
    top: 5vh;
    width: 140px;
    width: 50%;
    /* height: max-content; */
    height: 140px;
    height: 90vh;
    /* border: 1px solid blue; */
    color: #fff;
    /* background: #30b298; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

#collab1 {
    width: 70%;
    height: 20rem;
    margin-left: -5rem;
    border-radius: 150px 0 0 150px;
}

#collab1 img {
    width: 100%;
    height: 100%;
    border-radius: 150px 0 0 150px;
}

#collab2 {
    width: 70%;
    height: 20rem;
    margin-right: -5rem;
    border-radius: 0 150px 150px 0;
}

#collab2 img {
    width: 100%;
    height: 100%;
    border-radius: 0 150px 150px 0;
}